[Unit]
Description=Cluster reboot manager
Requires=update-engine.service
After=update-engine.service

[Service]
ExecStart=/usr/lib/locksmith/locksmithd
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
